{{!-- _head-default.hbs --}}

<title>{{record.title}} &verbar; {{default.title}}</title>
<link rel="icon" href="/assets/favicon.ico">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">

<meta itemprop="name" content="{{record.title}}">
<meta itemprop="description" content="{{record.description}}">
<meta name="description" content="{{record.description}}">
<meta name="viewport" content="width=device-width, initial-scale=1">
