{{!-- _head-default.hbs --}}

<title>{{#if record.title}}{{record.title}} &verbar; {{/if}}{{default.title}}</title>

<link rel="icon" type="image/png" href="/assets/images/doodles/_036-cluster.png">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">

<meta itemprop="name" content="{{record.title}}">
<meta itemprop="description" content="{{record.description}}">
<meta name="description" content="{{record.description}}">
