<!-- partials/topbar-default -->
<div id="topbar_centre">
  <a class="title" title="{{record.artist}}, {{record.title}}" style="font-size : 0.8em;" href="{{record.link.url}}">
    {{#if record.artist}}
      {{record.artist}},
    {{/if}}
    {{record.title}}
    {{#if record.badge}}
      <img border=0 class="exit-link" align="absmiddle" alt="Exit site" src="/assets/images/badges/link.png">
    {{/if}}
  </a>
  <a class="related" title="Related to \"{{record.title}}\"" href="/#{{record.id}}">
    <img id="related" src="/assets/images/blank.gif">
  </a>
</div>
