<!-- partials/topbar-contextual -->

{{#if (eq record.category.nicename "video")}}
  {{!-- Video --}}
  <div id="topbar_centre" style="left : auto; right : 0px; width : 100px;">
    <a title="Related to {{record.title}}" href="/?id=118"><img border=0 align="left" id="prev-holder" alt="Return to the Online Venue" src="/assets/images/prev.gif" width=21 height=21><img id="related" align="left" border=0 src="/assets/images/related.gif"></a>
  </div>
{{/if}}

{{#if (eq record.category.nicename "artwork-ext")}}
  {{!-- Link? --}}
  <div id="topbar_centre" style="left : auto; right : 50px; text-align : right;">
    <a title="{{record.artist}}, {{record.title}}" style="font-size : 0.8em;" href="{{record.link.url}}">
      {{record.artist}}, {{record.title}}
      <img border=0 align="absmiddle" alt="Exit site" src="/assets/images/link.png">
    </a>
    <a style="margin-left : 30px; margin-right : 15px;" title="Return to the Online Venue"href="/?id=101">
      <img border=0 align="absmiddle" alt="Return to the Online Venue" src="/assets/images/related.gif">
    </a>
  </div>
{{/if}}


